@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  color: #111;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  overflow-x: hidden;
  /* 화면 너비 초과 시 가로 스크롤 제거 */
}


/* ---------------- 기본 설정 ---------------- */


.header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 120px;
}

.header-inner {
  width: 100%;
  max-width: 1224px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: clamp(35px, 6vw, 100px); /* ✅ 여기 동일하게 맞춘다 */
}




.logo img {
  width: 132px;
  height: auto;
  cursor: pointer;
  transition: 0.3s ease;
}
.logo img:hover {
  opacity: 0.6;
}


/* ---------------- 메뉴 ---------------- */
.menu ul {
  display: flex;
  gap: clamp(35px, 6vw, 100px); /* ✅ 큰 화면에서는 100px, 작은 화면에서는 35px로 자동 줄어듦 */
}


.menu li {
  list-style: none;
}

.menu a {
  font-weight: 500;
  color: #111;
  font-size: 15px;
  position: relative;
  transition: 0.3s;
}

/* hover / active 상태 빨간색 */
.menu a:hover,
.menu a.active {
  color: #EB2222;
  font-weight: 600;
}

/* ---------------- 메뉴 아이콘 ---------------- */
.menu-icon {
  width: 41px;
  height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}


.menu-icon span {
  width: 100%;
  height: 2.2px;
  background: #111;
  border-radius: 2px;
  transition: 0.4s;
}


/* ✅ 메뉴 안 X 버튼 */
.close-btn {
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 26px;
  font-weight: 700;
  cursor: pointer;
  color: #111;
  transition: 0.3s;
  display: none;
}

.close-btn:hover {
  color: #EB2222;
}





@media (max-width: 900px) {

  .header {
    margin-top: 25px;
    margin-bottom: 60px;
  }

  .header-right {
    gap: 30px;
  }

  .menu-icon {
    width: 32px;
    height: 8px;
  }

  .menu a {
    font-size: 14px;
  }
}



@media (max-width: 899px) {
  .menu ul {
    position: fixed;
    top: 0;
    right: -260px;
    width: 260px;
    height: 100vh;
    flex-direction: column;
    background: #fff;
    padding: 120px 40px;
    gap: 28px;
    transition: right 0.35s ease;
    z-index: 9999;
  }

  .menu ul.active {
    right: 0;
  }

  .close-btn {
    display: block;
    cursor: pointer;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 40px;
  }
}
